# Build output
build/
out/

# Visual Studio
*.suo
*.user
*.sln
*.vcxproj*
.vs/

# Compiled libraries (keep DLL in root if copied)
*.lib
*.exp
*.pdb

# CMake
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
